<launch>
	<arg name="image" default="/usb_cam/image_raw" />

  <include file="$(find ros_caffe)/launch/ros_caffe_webcam.launch">
	   <arg name="image" value="$(arg image)" />
  </include>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <include file="$(find roswww)/launch/roswww.launch" />

  <node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server" />
</launch>
